* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/hero.jpeg");
  background-image: cover;
  border-radius: 10px;
}

.sign-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: url("../assets//asset2.jpeg");
}

.sign-image img {
  max-width: 100%;
  height: 33rem;
  border-radius: 10px;
}

.sign-form {
  padding: 50px;
  /* border-radius: 0 10px 10px 0; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 33rem;
}

.sign-form h1 {
  margin-bottom: 10px;
  font-size: 2.2em;
  font-weight: bolder;
  color: #333;
}

.sign-form p {
  font-size: medium;
  font-weight: 600;
  margin-bottom: 20px;
  color: #666;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.sign-in-button {
  width: 40%;
  padding: 10px;
  margin-right: 8px;
  margin-top: 20px;
  background-color: #d06915;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.sign-in-button:hover {
  background-color: #0056b3;
}

.create-account-button {
  width: 70%;
  padding: 0 10px 0 10px;
  margin-left: 8px;
  margin-top: 20px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.create-account-button:hover {
  background-color: #e0e0e0;
}
.Submit-group {
  display: flex;
}
